@font-face {
  font-family: "Poppins";
  src: url("../fuentes/Poppins-SemiBold.otf");
}
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}
*::selection {
  background-color: rgb(6, 152, 201);
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

@media (max-width: 350px) {
  .navbar-toggler {
    font-size: 1rem;
  }
}

body main {
  background-image: url("../imagenes/papel-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body header {
  position: sticky;
  top: 0;
  z-index: 10;
}
@media (max-width: 350px) {
  body header nav img {
    width: 100px;
    height: 100px;
  }
}
body header nav .menu a {
  margin: 1rem;
  padding: 0.25rem;
  color: white;
  font-size: 1.5rem;
  transition: 0.5s;
  color: white !important;
}
@media (max-width: 350px) {
  body header nav .menu a {
    font-size: 1rem;
    margin: 0.7rem 1rem;
  }
}
body header nav .menu a:hover {
  transform: scale(1.15);
  color: white;
}
@media (max-width: 350px) {
  body header nav .menu a:hover {
    transform: scale(1);
    color: white;
  }
}
body main {
  color: black;
}
body footer .footer {
  background-color: black;
  color: white;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  bottom: 0;
}
body footer .footer .redes {
  padding: 0.5rem;
}
body footer .footer .parrafo:hover {
  text-decoration: underline;
}
body footer .footer .parrafo p {
  margin: 0;
  padding: 0.5rem;
}
@media (max-width: 394px) {
  body footer .footer .parrafo p {
    font-size: 0.7rem;
  }
}

body main .texto-del-dia {
  padding: 1rem 3rem 3rem 3rem;
}
body main .texto-del-dia .texto-aparte {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: auto;
}
body main .texto-del-dia .texto-aparte img {
  width: 25%;
  margin: auto;
}
@media (min-width: 351px) and (max-width: 636px) {
  body main .texto-del-dia .texto-aparte img {
    width: 50%;
    margin: auto;
  }
}
@media (max-width: 350px) {
  body main .texto-del-dia .texto-aparte img {
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 350px) {
  body main .texto-del-dia .texto-aparte {
    width: 90%;
    margin: auto;
  }
}
body main .texto-del-dia .bloque {
  background-color: rgba(255, 255, 255, 0.342);
  padding: 1.5rem;
  margin: 1rem;
  transition: 1s;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
body main .texto-del-dia .bloque:hover {
  transform: scale(1.025);
  color: black;
}
body main .texto-del-dia .bloque .contenedor {
  display: flex;
}
@media (min-width: 351px) and (max-width: 682px) {
  body main .texto-del-dia .bloque .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 350px) {
  body main .texto-del-dia .bloque .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
body main .texto-del-dia .bloque .contenedor img {
  padding-right: 1rem;
  width: 30%;
  height: 30%;
  resize: none;
}
@media (min-width: 351px) and (max-width: 682px) {
  body main .texto-del-dia .bloque .contenedor img {
    width: 80%;
    height: 80%;
    resize: none;
    padding: 1rem;
  }
}
@media (max-width: 350px) {
  body main .texto-del-dia .bloque .contenedor img {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 0.5rem;
  }
}
@media (max-width: 350px) {
  body main .texto-del-dia .bloque .contenedor .texto-bloque h3 {
    font-size: 1rem;
  }
}
body main .texto-del-dia .bloque .contenedor .texto-bloque h4 {
  background-color: black;
  color: white;
}
@media (max-width: 350px) {
  body main .texto-del-dia .bloque .contenedor .texto-bloque h4 {
    font-size: 0.7rem;
  }
}
body main .texto-del-dia .bloque .contenedor .texto-bloque .p-bloque {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media (max-width: 350px) {
  body main .texto-del-dia .bloque .contenedor .texto-bloque .p-bloque {
    font-size: 0.5rem;
  }
}
@media (max-width: 350px) {
  body main .texto-del-dia .bloque .contenedor .texto-bloque .p-bloque-autor {
    font-size: 0.5rem;
  }
}
body main .texto-del-dia h1 {
  font-size: 5rem;
}
@media (min-width: 351px) and (max-width: 636px) {
  body main .texto-del-dia h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 350px) {
  body main .texto-del-dia h1 {
    font-size: 2.25rem;
  }
}
body main .texto-del-dia h2 {
  font-size: 2.5rem;
}
@media (min-width: 351px) and (max-width: 636px) {
  body main .texto-del-dia h2 {
    font-size: 1.25rem;
  }
}
@media (max-width: 350px) {
  body main .texto-del-dia h2 {
    font-size: 1.05rem;
  }
}
body main .texto-del-dia .aclaracion {
  color: rgb(66, 66, 66);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  padding: 0rem 1rem;
}
@media (max-width: 350px) {
  body main .texto-del-dia .aclaracion {
    font-size: 0.6rem;
  }
}
body main .texto-del-dia p {
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.342);
  padding: 1rem;
}
@media (min-width: 351px) and (max-width: 636px) {
  body main .texto-del-dia p {
    font-size: 0.85rem;
  }
}
@media (max-width: 350px) {
  body main .texto-del-dia p {
    font-size: 0.75rem;
  }
}
body main .gag-en-gug {
  padding: 1rem 3rem 3rem 3rem;
}
body main .gag-en-gug h2 {
  font-size: 4.25rem;
}
@media (min-width: 351px) and (max-width: 636px) {
  body main .gag-en-gug h2 {
    font-size: 2.25rem;
  }
}
@media (max-width: 350px) {
  body main .gag-en-gug h2 {
    font-size: 2rem;
  }
}
body main .gag-en-gug h3 {
  font-size: 2rem;
}
@media (min-width: 351px) and (max-width: 636px) {
  body main .gag-en-gug h3 {
    font-size: 1.05rem;
  }
}
@media (max-width: 350px) {
  body main .gag-en-gug h3 {
    font-size: 1rem;
  }
}
body main .gag-en-gug p {
  font-size: 1rem;
}
@media (min-width: 351px) and (max-width: 636px) {
  body main .gag-en-gug p {
    font-size: 0.85rem;
  }
}
@media (max-width: 350px) {
  body main .gag-en-gug p {
    font-size: 0.75rem;
  }
}

.form-fila {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-fila button {
  margin-top: 1rem;
  background-color: black;
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  transition: 1s;
  border: none;
}
@media (max-width: 350px) {
  .form-fila button {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
  }
}
.form-fila button:hover {
  transform: scale(1.05);
}

label {
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: black;
  color: white;
  margin: 1rem 0rem 1rem 0rem;
}
@media (max-width: 350px) {
  label {
    padding: 0.3rem;
    font-size: 1rem;
  }
}

textarea {
  resize: none;
  min-height: 25rem;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
