body {
    main {
        .texto-del-dia {
            padding: 1rem 3rem 3rem 3rem;

            h1 {
                font-size: 5rem;
            }

            h2 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1rem;
            }
        }

        .gag-en-gug {
            padding: 1rem 3rem 3rem 3rem;

            h2 {
                font-size: 2.5rem;
            }

            h3 {
                font-size: 1.25rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

}