@font-face {
    font-family: 'Poppins';
    src: url('../../fuentes/Poppins-SemiBold.otf');
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins';

    &::selection {
        background-color: yellow;
        color: black;
    }
}

a {
    text-decoration: none;
    color: black;
}